@charset "utf-8";
body {
    margin: 0;      //上下空白
    padding: 0;     //横空白
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
}

a:visited {
    color: #ff0000;
}

.bar {
    display: flex;
    justify-content:space-around;
}

.menuBar {
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.navigationBar li {
    display: inline;
}
